$scroll-track: #ececec;
$scroll-thumb: #bdbdbd;
$scroll-thumb-hover: #888888;
$page-back: #fafafb;
$icon-yellow: #fff1e4;

$white: #ffffff;
$black: #000000;
$dgray: #304666;

$gray1: #e9f3fe;
$gray2: #e4f2ff;
$gray3: #dfeefe;
$gray4: #d4e6ff;
$gray5: #bfdcff;

$blue1: #3f98ff;
$blue2: #0887fe;
$blue3: #1883ff;
$blue4: #0b73fe;

$navy1: #f5fafc;
$navy2: #ecf5f9;
$navy3: #dee9ec;
$navy4: #cbd6db;
$navy5: #b2bfc7;

$font: 'Amazon Ember';
$regular: 400;
$bold: 700;